client/node_modules/
client/dist/
client/public/result*  
client/public/allwords*
client/public/test-db.json
client/reports/
server/node_modules
server/dist
server/public
dist
node_modules
*.zip
build/
dist/
docs/.vuepress/.cache
docs/.vuepress/.temp
scripts/api-key.js