@font-face {
    font-family: "icons";
    src: url("./icons.eot?0f9a55dfac34b045f3561e6aa7bbb2f8#iefix") format("embedded-opentype"),
url("./icons.woff2?0f9a55dfac34b045f3561e6aa7bbb2f8") format("woff2"),
url("./icons.woff?0f9a55dfac34b045f3561e6aa7bbb2f8") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
    content: "\f101";
}
.icon-curved:before {
    content: "\f102";
}
.icon-dog:before {
    content: "\f103";
}
.icon-elephant:before {
    content: "\f104";
}
