# Environment
ENVIRONMENT=production
CONTAINER_NAME=crosswords_prod
DB_VOLUME_PATH=postgres-data

# App
DB_HOST=db
PORT=5480

# PostgreSQL Configuration
POSTGRES_USER=crosswords_user
POSTGRES_PASSWORD=super_secure_password
POSTGRES_DB=crosswords_db
POSTGRES_DATA=./postgres-data:/var/lib/postgresql/data # Persistent data storage

DB_PORT=
ADMINER_PORT=
