# Environment
ENVIRONMENT=production

# App
DB_HOST=db
PORT=5480

# PostgreSQL Configuration
POSTGRES_USER=crosswords_user
POSTGRES_PASSWORD=super_secure_password
POSTGRES_DB=crosswords_db

DB_PORT=
ADMINER_PORT=
